.card1{
    background-color:#66ffd9;
    width:500px;
    border:solid black 2px;
    text-align: center;
    padding: 10x 10x 10x 10x;
     display:inline-block;
}

.online{
  background-color:cornflowerblue;
  color:white;
  border-radius:10px;

}
.image{
    width:30px;
    height:30px;
    display:inline-block;
}
.btn{
    width:150px;
    height:30px;
    background-color:black;
    color:white;
    border-radius:5px;
    margin:10px 10px 10px 10px;

}
.btn:hover{
    background-color:gray;
}
.card2{
    background-color:#33adff;
    height:700px;
    width:500px;
    border:solid black 2px;
    text-align: center;
    padding: 10x 10x 10x 10x;
     display:inline-block;

}
.image2{
    width:300px;
    height:100px;
    display:inline-block;
}
.text{
    text-align:left;
    margin:10px 10px 10px 10px;
}
.btn2{
    width:150px;
    height:30px;
    background-color:black;
    color:white;
    border-radius:5px;
    margin:10px 20px 30px 40px;

}